<div class="col">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <center><img src="img/image 1.png" alt="" /></center>
        </div>
        <p class="text-1">Nama/Tipe Mobil</p>
        <p class="text-2">Rp 430.000 / hari</p>
        <p class="card-text">
          <img src="img/fi_key.png" alt="" /> Start rent - Finish
          rent
        </p>
        <p class="card-text">
          <img src="img/fi_clock.png" alt="" /> Updated at 4 Apr
          2022, 09.00
        </p>
        <div class="btn-group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-danger align-items-center"
          >
            <i class="bx bx-trash-alt trash-icon"></i>Delete
          </button>
          <button type="button" class="btn btn-success">
            <i class="bx bx-edit edit-icon"></i>Edit
          </button>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <div class="card-title">
            <center><img src="img/image 1.png" alt="" /></center>
          </div>
          <p class="text-1">Nama/Tipe Mobil</p>
          <p class="text-2">Rp 430.000 / hari</p>
          <p class="card-text">
            <img src="img/fi_key.png" alt="" /> Start rent - Finish
            rent
          </p>
          <p class="card-text">
            <img src="img/fi_clock.png" alt="" /> Updated at 4 Apr
            2022, 09.00
          </p>
          <div class="btn-group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-danger align-items-center"
            >
              <i class="bx bx-trash-alt trash-icon"></i>Delete
            </button>
            <button type="button" class="btn btn-success">
              <i class="bx bx-edit edit-icon"></i>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <center><img src="img/image 1.png" alt="" /></center>
          </div>
          <p class="text-1">Nama/Tipe Mobil</p>
          <p class="text-2">Rp 430.000 / hari</p>
          <p class="card-text">
            <img src="img/fi_key.png" alt="" /> Start rent - Finish
            rent
          </p>
          <p class="card-text">
            <img src="img/fi_clock.png" alt="" /> Updated at 4 Apr
            2022, 09.00
          </p>
          <div class="btn-group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-danger align-items-center"
            >
              <i class="bx bx-trash-alt trash-icon"></i>Delete
            </button>
            <button type="button" class="btn btn-success">
              <i class="bx bx-edit edit-icon"></i>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <center><img src="img/image 1.png" alt="" /></center>
          </div>
          <p class="text-1">Nama/Tipe Mobil</p>
          <p class="text-2">Rp 430.000 / hari</p>
          <p class="card-text">
            <img src="img/fi_key.png" alt="" /> Start rent - Finish
            rent
          </p>
          <p class="card-text">
            <img src="img/fi_clock.png" alt="" /> Updated at 4 Apr
            2022, 09.00
          </p>
          <div class="btn-group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-danger align-items-center"
            >
              <i class="bx bx-trash-alt trash-icon"></i>Delete
            </button>
            <button type="button" class="btn btn-success">
              <i class="bx bx-edit edit-icon"></i>Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  