<div id="main-container" class="d-flex">
    <div id="side-menu">
        <div class="small-logo">
            <center><img src="/img/Rectangle_63.png" alt="" class="mb-5 logo-sm" /></center>
        </div>
        <div class="main-nav">
            <div class="row">
                <div class="col">
                    <div class="main-nav__item">
                        <a href="#"><center><i class='bx bx-home-alt home-icon'></i></center>&emsp;Dashboard</a>
                    </div>
                </div>
                <div class="col">
                    <div class="main-nav__item">
                        <a href="#"><center><i class='bx bxs-truck truck-icon'></i></center>&emsp;Cars</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="d-flex">
                            <img src="/img/Rectangle_62.png" alt="" class="name-img" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex">
                            <div class="col"><i class='bx bx-menu menu-icon'></i></div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                            <div class="col-auto">
                                <div class="container-fluid">
                                    <form class="d-flex">
                                      <i class='bx bx-search search-icon'></i>
                                      <input class="form-control me-2" style="border-radius:0;" type="search" placeholder="     Search" aria-label="Search">
                                      <button class="btn btn-outline" type="submit"><b>Search</b></button>
                                    </form>
                                  </div>
                            </div>
                            <div class="col-auto">
                                <img src="/img/Group_15.png" alt="" class="name-img" />
                            </div>
                            <div class="col-auto">Unis Badri</div>
                            <div class="col-auto">
                                <div class="col"><i class='bx bx-chevron-down chevron-img'></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>