<!DOCTYPE html>
<html lang="en">

<%- include('../partials/html/head') %>

<body>
    <%- include('../partials/nav_menu') %>
    
    <%- body %>

    <%- include('../partials/foot') %>
</body>
</html>